:root {
  --color-primary: #bcbcbc;
  --color-secondary: #bdbdbd;
  --color-accent: transparent;
  --color-border: #7b7b7b;
  --color-border-light: #ffffff;
  --color-border-dark: #7b7b7b;
  --color-target-bomb: var(--red-500);
  --color-background: var(--gray-100);
  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-text: var(--blue-600);
  --color-text-accent: var(--gray-900);
  --color-number-1: #0000ff;
  --color-number-2: #077d07;
  --color-number-3: #ff0000;
  --color-number-4: #00007b;
  --color-number-5: var(--yellow-400);
  --color-number-6: var(--purple-500);
}
